@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#arrow-up-down:hover path {
    d: path("m1 5 4-4 4 4");
    transition-duration: 200ms;
}
:root{
    box-sizing: border-box;
}